{% extends 'base.html.twig' %}

{% block title "Convertir une formule de seger en recette" %}

{% block body %}
<h1>Convertir une formule de seger en recette</h1>
{{ form_start(form) }}
<div class="d-flex">
    {{ form_row(form.1) }}
    {{ form_row(form.2) }}
    {{ form_row(form.3) }}
</div>
{{ form_end(form) }}
{% endblock %}