{% extends 'base.html.twig' %}

{% block title %}Edition de l'a matière première {{ matierepremiere.nom }}{% endblock %}

{% block body %}
    <h1>Edition de l'a matière première {{ matierepremiere.nom }}</h1>
    {{ form_start(form) }}
    <div class="d-flex">
        {{ form_row(form.nom) }}
        {{ form_row(form.formule) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
