{% extends 'base.html.twig' %}

{% block title %}liste des matières premières{% endblock %}

{% block body %}
    <p>
        liste des matières premières :
    </p>

    <a class="btn btn-sm btn-primary" href={{ path('matiere_premiere.create')}}>Créer une nouvelle matière première</a>
    <table class="table">
        <thead>
            <tr>
                <th>Oxyde</th>
                <th>Formule</th>
                <th>active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matierepremiere in matierespremieres %}
                <tr>
                    <td>
                        <a href={{ path('matiere_premiere.show',{ id:matierepremiere.id }) }}>{{ matierepremiere.nom }}</a>
                    </td>
                    <td>
                        {{ matierepremiere.formule }}
                    </td>
                    <td>
                        {{ matierepremiere.active }}
                    </td>
                    <td>
                        <div class="d-flex gap-1">
                            <a class="btn btn-sm btn-primary" href={{ path('matiere_premiere.edit',{ id:matierepremiere.id })}}>Modifier</a>
                            <form action="{{ path('matiere_premiere.remove',{ id:matierepremiere.id }) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE" />
                                <button type="submit" class="btn btn-sm btn-danger" >Supprimer</a>
                            </form>
                        </div>
                        
                    </td>
                    
                </tr>
        {% endfor %}
        </tbody
        

    </table>
{% endblock %}