{% extends 'base.html.twig' %}

{% block title %}DoctrineMatierePremiere index{% endblock %}

{% block body %}
    <h1>DoctrineMatierePremiere index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Formule</th>
                <th>PmAvantCuisson</th>
                <th>Ordre</th>
                <th>Active</th>
                <th>CreationAt</th>
                <th>ModificationAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for doctrine_matiere_premiere in doctrine_matiere_premieres %}
            <tr>
                <td>{{ doctrine_matiere_premiere.id }}</td>
                <td>{{ doctrine_matiere_premiere.nom }}</td>
                <td>{{ doctrine_matiere_premiere.formule }}</td>
                <td>{{ doctrine_matiere_premiere.pmAvantCuisson }}</td>
                <td>{{ doctrine_matiere_premiere.ordre }}</td>
                <td>{{ doctrine_matiere_premiere.active ? 'Yes' : 'No' }}</td>
                <td>{{ doctrine_matiere_premiere.creationAt ? doctrine_matiere_premiere.creationAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ doctrine_matiere_premiere.modificationAt ? doctrine_matiere_premiere.modificationAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('matiere_premiere.show', {'id': doctrine_matiere_premiere.id}) }}">show</a>
                    <a href="{{ path('matiere_premiere.edit', {'id': doctrine_matiere_premiere.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('matiere_premiere.create') }}">Create new</a>
{% endblock %}
